<form class="form-horizontal">
    <div class="form-inline">
        <label for="emailField"> Email</label>
        <input id="emailField" type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-inline">
        <label for="emailField"> Email</label>

        <div class="input-group">

            <input id="emailField" type="email" class="form-control" placeholder="Email">
            <div class="input-group-addon">@gmail.com</div>
        </div>
    </div>
</form>